# Environments and Cache
__pycache__/
venv/
.ipynb_checkpoints/

# Large Model Files
embeddings.joblib

# User Data and Media
audios/
Videos/
transcripts/
jsons/

# Temp and Debug Files
prompt_debug.txt
response.txt
tempCodeRunnerFile.py

# Mac System Files
.DS_Store