# Environments and Cache
__pycache__/
venv/

# Large Model Files
embeddings.joblib

# User Data and Media
audios/
Videos/
transcripts/
jsons/

# Temp and Debug Files
prompt_debug.txt
response.txt
tempCodeRunnerFile.py

# Mac System Files (Hamesha ignore karna achha hota hai)
.DS_Store